@use '@scss/abstracts/variables' as var;
@use '@scss/abstracts/fonts' as font;
@use '@scss/abstracts/mixins' as mixin;

.nav-bar {
  margin-top: 1rem;

  &-toolbar {
    @include mixin.flex(row, center, space-between);

    &-title {
      gap: 0.4rem;
      cursor: pointer;
      user-select: none;
    }
  }
}
