.editor-div {
  background-color: #f0f8ff;
  width: 75vw;
  min-height: 50vh;
  padding: 10px;
  border: 2px solid rgb(8 132 240);
  border-radius: 10px;
  color: #000;
}

.tiptap:first-child {
  margin-top: 0;
}

.tiptap img {
  display: block;
  height: auto;
  margin: 1.5rem 0;
  max-width: 100%;
}

.tiptap img.prose-mirror-selected-node {
  outline: 3px solid var(--purple);
}
