// Breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 400px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1440px;
$breakpoint-xxl: 1920px;
$breakpoints: (
  // 0 to 399px
  xs: '(max-width: #{($breakpoint-sm - 1)})',

  // 400px to 767px
  sm: '(min-width: #{$breakpoint-sm}) and (max-width: #{($breakpoint-md - 1)})',

  // 768px to 1023px
  md: '(min-width: #{$breakpoint-md}) and (max-width: #{($breakpoint-lg - 1)})',

  // 1024px to 1439px
  lg: '(min-width: #{$breakpoint-lg}) and (max-width: #{($breakpoint-xl - 1)})',

  // 1440px to 1919px
  xl: '(min-width: #{$breakpoint-xl})',

  // 1920px and above
  xxl: '(min-width: #{$breakpoint-xxl})'
);
