/* Roboto Font */
$roboto-font: 'Roboto', sans-serif;

/* Roboto Font Weights */
$roboto-thin: 100;         /* Thin */
$roboto-extra-light: 200;  /* Extra Light */
$roboto-light: 300;        /* Light */
$roboto-regular: 400;      /* Regular */
$roboto-medium: 500;       /* Medium */
$roboto-semi-bold: 600;    /* Semi-Bold */
$roboto-bold: 700;         /* Bold */
$roboto-extra-bold: 800;   /* Extra-Bold */
$roboto-black: 900;        /* Black */
