/* Light Mode */
$light-mode-colors: (
  primary: rgb(71 144 217),
  secondary: rgb(241 245 249 / 100%),
  tertiary: rgb(30 41 59 / 100%),
  quaternary: rgb(107 114 128 / 100%),
  quinary: rgb(156 163 175 / 100%),
);

/* Dark Mode */
$dark-mode-colors: (
  primary: rgb(15 23 42 / 100%),
  secondary: rgb(30 41 59 / 100%),
  tertiary: rgb(248 250 252 / 100%),
  quaternary: rgb(203 213 225 / 100%),
  quinary: rgb(156 163 175 / 100%),
);
$allowed-colors: (
  primary: "primary",
  secondary: "secondary",
  tertiary: "tertiary",
  quaternary: "quaternary",
  quinary: "quinary",
);


/* Gradient */
$gradient: linear-gradient(90deg, #22d3ee 0%, #0ea5e9 100%);

/* border-radius */
$border-radius-10: 10px;
$border-radius-20: 20px;
$border-radius-30: 30px;
