@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixin;
@use '../abstracts/fonts' as font;


body.colors {
  @each $name, $value in var.$colors {
    --#{$name}: #{$value};
  }
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: font.$roboto-font;
  overscroll-behavior: none;
}

body {
  @include mixin.apply-color(background-color, primary);
  @include mixin.apply-color(color, tertiary);
}
